* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}
.h1-head {
  text-align: center;
  margin-top: 15px;
  color: #5f3dbe;
}

.Create {
  color: #5f3dbe;
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 0%;
}

.title {
  width: 55%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-left: 4px;
  font-size: 18px;
  font-family: sans-serif;
}
.title::placeholder {
  color: grey;
  font-size: medium;
  padding-right: 10px;
}
textarea {
  width: 80%;
  padding: 5px;
  height: 114px;
  margin-top: 20px;
  font-size: 18px;
  font-family: sans-serif;
}
textarea::placeholder {
  color: grey;
  font-size: medium;
  padding-right: 10px;
}
.main-container {
  width: 40rem;
  background-color: #f2f2f2;
  margin-top: 35px;
  margin-left: 30px;
  border-radius: 40px;
  padding: 20px;
}
.description {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.btn {
  background-color: #5f3dbe;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin-left: 70%;
  margin-top: 20px;
}

.btn:hover {
  background-color: #5f3dbe;
}

#delete {
  background-color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
#delete:hover {
  background-color: black;
}

#update {
  background-color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}
#update:hover {
  background-color: black;
}
