*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    font-family: Arial, sans-serif;
    
}

.home-div{
display: flex;
justify-content: space-between;
background-color:#45a049 ;
color: white;
padding: 10px;
}

.home-div1{
margin-left: 40px;
}

.home-div2{
margin-right: 40px;
}
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    
    text-align: center;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

a {
    color:white;
    text-decoration: none;
    display: block;
    text-align: center;

}
.div-h2{
    color: white;
    margin-left : 40px;
}
 .home-nav{
    background-color:black;
    padding: 15px;

    
} 
